* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
}

body {
    background-color: #f7f9f7;
    color: #1e2b22;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #7d7379;
}

nav a:hover {
    color: #1e2b22;
}

.nav-btn {
    padding: 8px 16px;
    background-color: #82937e;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: #1e2b22;
}

/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 38px;
    margin-bottom: 20px;
}

.hero p {
    color: #7d7379;
    margin-bottom: 30px;
}

/* Buttons */
.primary-btn {
    padding: 12px 30px;
    background-color: #1e2b22;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.primary-btn:hover {
    background-color: #82937e;
}

/* Sections */
.section {
    padding: 60px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: #b8c4b9;
    padding: 25px;
    width: 260px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    background-color: #82937e;
    color: white;
}

/* Forms */
form {
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #7d7379;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1e2b22;
    color: white;
    margin-top: 60px;
}
